<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html">
 </head>
 <body>
{% if user %}
	<h3>{{ user }} is currently logged in.</h3>
	<form action="logout" method='POST'>
    <input type="submit" value="Logout">
	</form>
{% else %}
	<form action="login" method='POST'>
		Username: <input type="text" size="20" name="username">
		Password: <input type="text" size="20" name="password">
		<input type="submit" value="Login">
	</form>
	<form action="create_account" method='POST'>
		Username: <input type="text" size="20" name="username">
		Password: <input type="text" size="20" name="password">
		<input type="submit" value="Create New Account">
	</form>
{% endif %}
{% block content %}
{% endblock %}
 </body>
</html>
