{% extends "base.html" %}

{% block content %}
<a href='upload'>Upload an image</a> |
<a href='image_latest'>Show most recent image</a> |
<a href='thumbnails'>View image thumbnails</a>
<br>
<form enctype='multipart/form-data' action='search_results' method='POST'>
Metadata Search: <input type='text' name='query' size='40'><br>
<input type='submit' value='Search Image Metadata'>
</form>
<br>
<p>
<img width=40% src='image_raw_latest'/><br>
Title: {{ title }} <br>
Description: {{ description }}<br>
Location: {{ location }}<br>
Date: {{ date }}<br>
<div id="comments">
	<h1 id="comment_header">COMMENTS</h1>
	<br>
	<form enctype='multipart/form-data' action='comment_receive' method='POST'>
	Add a comment: <input type='text' name='comment' size='40'>
	<input type='submit' value='Add'>
	</form>
	<div id="comments_body"></div>
</div>
{% endblock %}
